<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/index.css" type = "text/css" />
</head>
<body>
    <div class="container">
      
    </div>
<!--
<% console.log("Articles: ", articles) %> 
-->

<!-- Map through the data and create template for each item -->

<!--
<%- 
    articles.map((article) =>`
    <div>
      <h2>${article.Title}</h2>
      <p>${article.Content}</p>
      <p>${new Date(article.CreatedAt).toDateString()}</span>
      <p>${new Date(article.UpdatedAt).toDateString()}</span>
    </div>
    `).join('')
%> -->

</body>
</html>

